<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Session</title>
    <script src="/static/loginChecker.js"></script>
    <script>
        function redirectToSession() {
            location.href = {{.sessionUrl}}
        }
    </script>
    <link rel="stylesheet" href="/static/admin_home.css" type="text/css">
    <link rel="stylesheet" href="/static/admin_add_session.css" type="text/css">
</head>
<body>
<main>
    <div class="overlay"></div>
    <nav class="nav">
        <div class="toggle">
            <span class="toggler">&raquo;</span>
        </div>
        <div class="logo">
            <a href="{{.homeUrl}}"><img src="{{.collegeProfileImage}}" href="{{.homeUrl}}"/></a>
        </div>
        <ul>
            <li><a href="{{.sessionUrl}}">Sessions</a></li>
            <li><a href="{{.rewardUrl}}">Rewards</a></li>
            <li><a href="{{.studentUrl}}">Students</a></li>
            <li><a href="{{.collegeDetailUrl}}">About College</a></li>
            <li><a href="{{.loginUrl}}">Logout</a></li>
        </ul>
    </nav>
</main>

<script src="/static/admin_home.js"></script>

<div id="alert-box" class="alert-box">
    <p id="alert" class="alert"></p>
</div>

<div class="container">
    <form>
        <div id="form" class="form-field">
            <input id="name" class="name" type="name" placeholder="Name" required/>
        </div>

        <div class="form-field">
            <input id="link" class="link" type="link" placeholder="Link" required/>
        </div>

        <div class="form-field">
            <h5>Session Image: </h5>
            <input id="sessionImage" name="sessionImage" class="sessionImage" type="file" required/>
        </div>

        <div class="form-field">
            <button id="submit-btn" class="submit-btn" type="submit">Add Session</button>
            <button id="cancel-btn" class="cancel-btn" onclick="redirectToSession()">Cancel</button>
        </div>
    </form>
</div>


<script src="/static/admin_add_session.js"></script>
</body>

</html>