<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="/static/login.css" type="text/css">
</head>
<body>
<div id="bg"></div>

<div id="alert-box" class="alert-box">
  <p id="alert" class="alert"></p>
</div>

<form>
  <div id="form" class="form-field">
    <input id="email" class="email" type="email" placeholder="Email / Username" required/>
  </div>

  <div class="form-field">
    <input id="password" class="password" type="password" placeholder="Password" required/>
  </div>

  <h4 class="h4">Don't have an account? Click <a href="{{.registerUrl}}">here</a> to register</h4>

  <div class="form-field">
    <button id="submit-btn" class="submit-btn" type="submit">Log in</button>
  </div>
</form>

<script src="/static/loginHandler.js"></script>

</body>
</html>