<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reward</title>
    <link rel="stylesheet" href="/static/student_reward.css" type="text/css">
    <link rel="stylesheet" href="/static/admin_home.css" type="text/css">
    <script src="/static/loginChecker.js"></script>
    <script>
        var rewardData = {{.rewardData}}
    </script>
</head>

<body>
<main>
    <div class="overlay"></div>
    <nav class="nav">
        <div class="toggle">
            <span class="toggler">&raquo;</span>
        </div>
        <div class="logo">
            <a href="{{.homeUrl}}"><img src="{{.collegeProfileImage}}" href="{{.homeUrl}}"/></a>
        </div>
        <ul>
            <li><a href="{{.sessionUrl}}">Sessions</a></li>
            <li><a href="{{.rewardUrl}}">Rewards</a></li>
            <li><a href="{{.collegeDetailUrl}}">About College</a></li>
            <li><a href="{{.loginUrl}}">Logout</a></li>
        </ul>
    </nav>
</main>

<script src="/static/admin_home.js"></script>
<div class="tools">
    <div class="settings">
        <button onclick="location.href={{.myRewardUrl}}" class="custom-btn btn">My Reward</button>
    </div>
</div>
<div id="rewards">
</div>

<script src="/static/student_reward.js"></script>
</body>

</html>