<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add College</title>
    <script src="/static/loginChecker.js"></script>
    <link rel="stylesheet" href="/static/header.css" type="text/css">
    <link rel="stylesheet" href="/static/superadmin_admin_detail.css" type="text/css">
    <script src="/static/loginChecker.js"></script>
    <script>
        var id = {{.adminId}};
        var adminImage = {{.adminImageUrl}};
    </script>
</head>
<body>
<div class="header">
    <a href="{{.homeUrl}}" class="logo">Focen</a>
    <div class="header-right">
        <a class="active" href="{{.loginUrl}}">Logout</a>
    </div>
</div>

<div id="alert-box" class="alert-box">
    <p id="alert" class="alert"></p>
</div>

<div class="container">
    <div id="left-column" class="left-column">
    </div>

    <div class="right-column">
        <div class="admin-description">
            <h1>{{.adminName}}</h1>
            <p>{{.adminCollegeName}}</p>
            <p>{{.adminEmail}}</p>
            <p>{{.adminPhoneNumber}}</p>
            <p>{{.adminBirthdate}}</p>
            <button id="deleteAdminBtn" class="custom-btn btn">Delete Admin</button>
        </div>
    </div>
</div>

<script src="/static/superadmin_admin_detail.js"></script>

</body>

</html>